Il fait le preprocessing du fichier 'entree_eleves', qui contient une colonne par métier/secteur.

In [2]:
import pandas as pd
import numpy as np

In [78]:
entree_eleves_path = "../entree/Répartition def eleves  participant V2.xlsx"
entree_parents_path = "../entree/Fichier participants forum des métiers 2024.xlsx"

In [42]:
eleves_src = pd.read_excel(entree_eleves_path)
# eleves_src = eleves_src.drop(labels=[0])
eleves_src.head()

,Nom,Prénom,Classe,répondu,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du droit,...,Les métiers du spectacle,Les métiers de la télécommunication,Chef d'entreprise,Journaliste,Pilote de ligne,Enseignant,Unnamed: 26,Unnamed: 27,Unnamed: 28,Les métiers du design
0,Élèves (149),NaN,NaN,63% (94),14.0,29.0,14.0,19.0,19.0,33.0,...,13.0,12.0,18.0,18.0,13.0,14.0,Total,NaN,NaN,0.0
1,Nbre de participant,NaN,NaN,NaN,1.0,2.0,1.0,2.0,1.0,3.0,...,1.0,1.0,1.0,1.0,1.0,2.0,3,39.0,NaN,0.0
2,NaN,NaN,NaN,NaN,14.0,14.5,14.0,9.5,19.0,11.0,...,13.0,12.0,18.0,18.0,13.0,7.0,3,NaN,NaN,NaN
3,5 créneaux,NaN,NaN,5,2.8,2.9,2.8,1.9,3.8,2.2,...,2.6,2.4,3.6,3.6,2.6,1.4,3,NaN,NaN,NaN
4,ABEHASSERA,Mathys,301,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN

In [61]:
# We first filter out unwanted rows and columns

eleves_src = pd.read_excel(entree_eleves_path)
eleves_src = eleves_src.drop(labels=[0, 1, 2, 3], axis="index")
eleves_src = eleves_src.drop(columns=["répondu"])
eleves_src = eleves_src.drop(eleves_src.filter(regex='Unnamed:').columns, axis="columns")
eleves_src = eleves_src.dropna(how="all")
list_classes = [301, 302, 303, 304, 305]
eleves_src = eleves_src[eleves_src["Classe"].isin(list_classes)]
eleves_src[-10:]

,Nom,Prénom,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du droit,Les métiers de l'environnement,...,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d'entreprise,Journaliste,Pilote de ligne,Enseignant,Les métiers du design
143,ROUMANE--HERAUDET,Mathias,305,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
144,ROUSSEAU LECARDINAL,Lana,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,ROUSSET,Gaël,305,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,RWIGEMA,Enzo,302,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
147,SEVESTRE,Youna,301,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
148,TARNUS,Philippe,304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,TRIBOUILLOY,Esther,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,WACHTHAUSEN-TRIMOUILLE,Aliénor,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
151,ZANNA,Arno,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,ZIDOUN,Mathéo,303,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [67]:
# Rearrange columns abd filters NaN

eleves = eleves_src.copy()
eleves["Destinataires"] = eleves["Nom"] + " " + eleves["Prénom"]
eleves = eleves.drop(columns=["Nom", "Prénom"])
eleves = eleves.set_index('Destinataires')
eleves = eleves.fillna(0)
eleves = eleves.replace('x',1)
eleves = eleves.replace('X',1)
eleves[-3:]

/tmp/ipykernel_60433/1172104273.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  eleves = eleves.fillna(0)

,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du droit,Les métiers de l'environnement,Les métiers de la finance,Les métiers de l'informatique,...,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d'entreprise,Journaliste,Pilote de ligne,Enseignant,Les métiers du design
Destinataires,,,,,,,,,,,,,,,,,,,,,
WACHTHAUSEN-TRIMOUILLE Aliénor,302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
ZANNA Arno,305,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ZIDOUN Mathéo,303,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [68]:
eleves.columns

Index(['Classe', 'Les métiers de l'aéronautique',
       'Les métiers de l'alimentation', 'Les métiers de l'assurance',
       'Les métiers de l'automobile', 'Les métiers de la communication',
       'Les métiers du droit', 'Les métiers de l'environnement',
       'Les métiers de la finance', 'Les métiers de l'informatique',
       'Les métiers de l'industrie pharmaceutique',
       'Les métiers de la logistique', 'Les métiers de la santé', 'Medecin',
       'Les métiers scientifiques: ingénieur',
       'Les métiers scientifiques: chercheur', 'Les métiers de la sécurité',
       'Les métiers du spectacle', 'Les métiers de la télécommunication',
       'Chef d'entreprise', 'Journaliste', 'Pilote de ligne', 'Enseignant',
       'Les métiers du design'],
      dtype='object')

In [65]:
len(eleves.columns)

24

In [69]:
eleves.head()

,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du droit,Les métiers de l'environnement,Les métiers de la finance,Les métiers de l'informatique,...,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d'entreprise,Journaliste,Pilote de ligne,Enseignant,Les métiers du design
Destinataires,,,,,,,,,,,,,,,,,,,,,
ABEHASSERA Mathys,301,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALIX Lola,302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
ALLEGRO Emma,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASMAZ Defne,304,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AUGUSTO Bruno,304,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
eleves_out = pd.DataFrame(index=eleves.index)
eleves_out["Classe"] = ""
eleves_out["Entretien 1"] = ""
eleves_out["Entretien 2"] = ""
eleves_out["Entretien 3"] = ""
eleves_out["Entretien 4"] = ""
eleves_out.head()

                  Classe Entretien 1 Entretien 2 Entretien 3 Entretien 4
Destinataires
ABEHASSERA Mathys
ALIX Lola
ALLEGRO Emma
ASMAZ Defne
AUGUSTO Bruno

In [73]:
for i in range(len(eleves)):
    a = eleves[i:(i+1)]
    # print(a)
    b = a.loc[:, (a>0).any()]
    c = b.columns.tolist()
    if len(c) < 5:
        c.append("")
    if len(c) < 4:
        print(a.index, len(c))
    eleves_out[i:(i+1)] = c
eleves_out['Classe'] = eleves['Classe'] 
eleves_out.head()

,Classe,Entretien 1,Entretien 2,Entretien 3,Entretien 4
Destinataires,,,,,
ABEHASSERA Mathys,301,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de la sécurité,
ALIX Lola,302,Les métiers de la logistique,Les métiers scientifiques: ingénieur,Chef d'entreprise,
ALLEGRO Emma,305,Les métiers du droit,Les métiers de la finance,Les métiers scientifiques: ingénieur,
ASMAZ Defne,304,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de la sécurité,
AUGUSTO Bruno,304,Les métiers de l'automobile,Les métiers de l'informatique,Les métiers du spectacle,

In [75]:
eleves_out.to_excel("../entree/entree_eleves_après_prétraitement.xlsx")

In [79]:
parents = pd.read_excel(entree_parents_path)

In [80]:
parents.head()

,Secteur,Participants,Métier,Mail,Tel,Confirmation,Créneau
0,Chef d’entreprise,Sophie Dumas,"direction collectivité, urbanisme, architecte,...",ENT,NaN,NaN,NaN
1,Métier de la Télécommunication,Kabe ?,"Chef de projet produit, développement et autom...",kabe78@gmail.com,NaN,NaN,NaN
2,Métier de l'environnement,Saena Guillon,"Dir du développement ( RSE, INNOVATION)",saena.guillon@gmail.com,NaN,NaN,NaN
3,Arts du spectacle,Juliette Piédévache,Comédienne et metteure en scène (compagnie Gal...,galene.productions@gmail.com,NaN,NaN,NaN
4,Métier du Droit,Mathieu Tamet,Directeur juridique d'une société de construct...,mathieu.tamet@orange.fr,06 66 59 67 72,oui,tous